body {
    box-sizing: border-box;
    

    .container {
        width: 100%;
        max-width: 1000 px;
        margin: 0 auto;
        height: 225px;
        width: 750px;

        .main{
            width: auto;
            height: auto;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 3px;

            h1 {
                text-align: center;
                font-family: italic;
            }

            .rates {

                .course-item{
                    border: 1px solid rgb(200, 200, 200);
                    border-radius: 3px;
                    margin: 15px;
                    padding: 0px;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    
                }
            }

            .Select {
                border: 1px solid rgb(200, 200, 200);
                border-radius: 3px;
                margin: 10px;
            }

            .input {
                border: 1px solid rgb(200, 200, 200);
                border-radius: 3px;
            }

        }

    }



    
}